<!DOCTYPE html>
  <head>

      <!--
         /*
 *
 *   Gitlist - App
 *   version 1.0.2
 *
*/

/**
 * Gitlist App Version 1.0.2 
 * V. 1.0.2 April 2016
 * OpenSource:  $ git clone https://github.com/SpaceG/gitlist.io.git 
 * Author:  http://www.space.lucasgatsas.ch
 * e-Mail:  space@lucasgatsas.ch 
 * Stylesheet for Staticlayout => staticlayout.ejs
*/

  -->
 

    <meta charset="utf-8" >
    <title>Gitlist</title>
    <link rel="shortcut icon" href="http://gitlist.io/images/gitlist_logo_ico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/proxima_nova/proxima_nova.css">


              <link rel="stylesheet" href="/styles/0-font-awesome.min.css">
              <link rel="stylesheet" href="/styles/3-importer.css">

<!-- New Scripts and Stylesheets for Version 1.0.2 --> 

    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <script src="/js/plugins/pace/pace.min.js"></script>

    <script data-main="js/main" src="/js/libs/require/require.min.js"></script>
    <script src="/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="/js/notify.js"></script>

  </head>
<body class="canvas-menu">
    <div id="wrapper"> <!-- wrapper --> 


      <!--
<div class="alert alert-info" role="alert"> 
  <strong>Heads up!</strong> Gitlist is Now Open to Everybody! Download 
  <a href="https://github.com/SpaceG/gitlist.io">Gitlist Source V.1.0.1 </a>
</div> --> 

    <%- body %>


<footer class="footer">
    <div class="container">
        <ul class="footer-links-list-copyright">
            <li> 
                <%- partial ('partials/gitlist-user-counter.ejs') %>  
           </li>
        </ul>
        <ul class="footer-links-list">
            <%- partial ('partials/gitlist-social-footer.ejs') %>  
            <hr>
        </ul>
    </div>
    <hr/>
    <div class="inner-gitlist-copyright">
        <%- partial ('partials/copyright.ejs') %>  
    </div>
</footer> 


    <script src="/js/external/useraccess.js"></script>  
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/gitlist.js"></script>


    <script>
        $('body.canvas-menu .sidebar-collapse').slimScroll({
                        height: '100%',
                        railOpacity: 0.9
                    });
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69032939-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
