<%- partial ('../partials/topbar.ejs') %>


<section id="gitlist-top-abstand"></section>
<section id="gitlist-sectionspace-about-top" class="pad-section">
        <!--      <div class="container about" id="gitlist-container">
                  <div class="row">
                                <h2 class="page-header-about">About Gitlist</h2><br>
                          
                                    <p class="text-center">
                                <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
                            </p>     
                      </div> 
                </div>
          </section>
  <legend align="center">Our Happy Client's</legend>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  
    <div class="item active container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
    </div>
    
    <div class="item container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
      </div>
    
    <div class="item container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
     </div>
    
  </div>

    <div align="center" style="margin-top:20px;">
          <a class="left" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
    </div>
     <style type="text/css">
    .logo
{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}


.logo:hover
{
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
    </style>
</div>
  <script type="text/javascript">
  $('.carousel').carousel()
  </script>


             
<div class="container mt">
        <div class="row clients centered">
          <p class="mb">Some clients that I had the pleasure to working for.</p>
          <div class="col-sm-2 col-sm-offset-1">
            <img src="https://treeline.io/images/landing-page/logo_sails_grey.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="assets/img/client3.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="assets/img/client2.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="assets/img/client4.png" alt="">
          </div>
          <div class="col-sm-2">
            <img src="assets/img/client5.png" alt="">
          </div>
        </div>
      </div>--> 



  <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">  </h2>
            <section class="featurette" id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="../images/figure-4.png" class="img-responsive center-block" alt="">
                            <br><br><br><br>
                            <h2 class="featurette-heading centered">Get Community <br><span class="text-muted">and Share your Git's</span></h2><br>
                            <p class="lead centered">Sign Up for Free to Gitlist and Submit your Git Today.</p>
    <p class="text-center">
                                <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
                            </p>                        
                        </div>
                    </div>
                </div>
            </section>
            <br><br>
        </div>
    </section>


<section id="gitlist-sectionspace-about" class="pad-section">
  <div class="container about" id="gitlist-container">
   <div class="row">
            </div>
    <div class="col-lg-12 col-sm-12 text-center"> 
  </div>
</section>


