<%- partial ('../partials/topbar.ejs') %>



        <section id="gitlist-top-abstand"></section>


<!-- gitlist-sectionspace-about-top -->
<!--
<section id="gitlist-sectionspace-about-top" class="pad-section">
              <div class="container about" id="gitlist-container">
                  <div class="row">

                           <i class="fa fa-server" id="gitlist-server-icon"></i>
                          <h2 class="page-header-about">ABOUT</h2><br>
                              <p class="page-p-about">Gitlist was found by
                              Lucas Gatsas </p> 
                      </div> 
                </div>
          </section> -->

<!-- gitlist-sectionspace-about -->

<!-- gitlist-sectionspace-about-top -->



<section id="gitlist-sectionspace-about-top" class="pad-section">
              <div class="container about" id="gitlist-container">
                  <div class="row">

                          <!-- <i class="fa fa-server" id="gitlist-server-icon"></i>-->
                                <h2 class="page-header-about">What is Gitlist?</h2><br>
                                <p class="page-p-about">Gitlist is a Git Sharing Network for Coders, <br>Programmers and Web Designer to share they current Gits Online to the Public.<br> Stop wasting Times. Sign Up Now.</p>
                                    <p class="text-center">
                                <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
                            </p>     
                      </div> 
                </div>
          </section>



<!-- Block 1 About Section --> 

<section class="gitlist-introduction-space-1-1">
<div class="container small">
    <div class="row">
            <div class="col-lg-12 text-center">
     
                <p class="lead" style="color: gray;
    font-family: 'Open Sans',sans-serif;
    font-size: 22px;
    font-size: 1.8rem;
    line-height: 0;
    color: #86888b;
    letter-spacing: -.035em;
    font-weight: 400;"></p>
         
            </div>
        </div>
    <hr style="
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 10px 20px rgba(0,0,0,.09);
    margin-top:  -0.3px;
">
  <div class="row">
            <div class="col-lg-12 text-center">
             <!--  <h1 style=" font-size:60px;color: black; "> Welcome to Gitlist App</h1> --> 
                <h1 style="        font-family: inherit;
    font-weight: 700;
    line-height: 1;
    color: #000;
    /* font-size: 3pc; */
    /* line-height: 3pc; */
    font-weight: 400;
    /* margin-bottom: 2rem; */
    /* padding-top: 29px; */">  <br>Create a Gitlist Account.</h1>
              <p class="lead" style="color: gray;
    font-family: 'Open Sans',sans-serif;
    font-size: 22px;
    font-size: 1.8rem;
    line-height: 0;
    color: #86888b;
    letter-spacing: -.035em;
    font-weight: 400;"> Start List your Gits!</p> 
<!--                <ul class="list-unstyled">
                </ul> --> 
            </div>
        </div>
        </div>
    </section> 










  <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">  </h2>
            <section class="featurette" id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <img src="../images/figure-4.png" class="img-responsive center-block" alt="">
                            <br><br><br><br>
                            <h2 class="featurette-heading centered">Get Community <br><span class="text-muted">and Share your Git's</span></h2><br>
                            <p class="lead centered">Sign Up for Free to Gitlist and Submit your Git Today.</p>
    <p class="text-center">
                                <a href="../g/login" class="btn btn-success btn-outline-rounded green"> start using gitlist<i class="fa fa-paper-plane" style="margin-left:10px;"></i></a>
                            </p>                        
                        </div>
                    </div>
                </div>
            </section>
            <br><br>
        </div>
    </section>






<section id="gitlist-sectionspace-about" class="pad-section">
  <div class="container about" id="gitlist-container">
   <div class="row">

            </div>
    <div class="col-lg-12 col-sm-12 text-center"> 

  </div>
</section>



<footer class="footer">
      <div class="container">
            <ul class="footer-links-list-copyright">
                <li> 
                  <%- partial ('../partials/gitlist-user-counter.ejs') %>  
               </li>
            </ul>
        <ul class="footer-links-list">
                  <%- partial ('../partials/gitlist-social-footer.ejs') %>  
            <hr>
        </ul>
      </div>
        <hr/>
            <div class="inner-gitlist-copyright">
                  <%- partial ('../partials/copyright.ejs') %>  
            </div>
    </footer>