<%- partial ('../partials/topbar.ejs') %>


          <section id="gitlist-top-abstand"></section>

<style>

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/gitlist-wall-1-1.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 768px){
header {
    min-height: 100%;
}
}

@media (min-width: 768px){
header .header-content {
    /* position: absolute; */
    /* margin-top: 30%; */
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 200px;
}
}
</style>






<header>
        <div class="header-content">
            <div class="header-content-inner"><br><br> <br><br> <br>        <br><br><br>
                <h1 style="font-size: 34px;color:white;" class="">Made in Switzerland, St. Gallen<br>  for the IT Industry</h1><br>

                <p>If you have any Question or Feel Free to Work with Us. <br>Please Contact Us here in our Office in St Gallen Switzerland.</p><br> 
                <a href="mailto:hello@gitlist.io" class="btn btn-primary btn-xl page-scroll">Contact Us</a><br><br> 
            </div>
        </div>
    </header>





<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                </h1>
            </div>
        </div>
       

        <div class="row">
            <div class="col-md-4">
                <h3>Contact Gitlist</h3>
                <p>Gitlist.io <br>  St. Gallen <br> CH - Switzerland <br> email: hello@gitlist.io</h3>
            </div>
        </div>
        <hr>
    </div>



