<%- partial ('../partials/topbar.ejs') %>


<!-- this page is nothing. just from the test version 0.0.1 - never used this page for the app
     just a blank page for testing something for the user editing pages 


    Note: Just a Blank edit.ejs page for testing some features for new versions  : 2014

   --> 


<section id="gitlist-sectionspace-user-edit-gitlist" class="pad-section">
              <div class="container editusersgitlist" id="gitlist-container">
              <div class="row">
      <div class="col-lg-4 col-lg-offset-4" id="gitlist-users-profile">
          <img src="https://pbs.twimg.com/profile_images/510538354606100484/MeeKLsxw_200x200.png" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          <br>
          <input type="file" id="inputfile">
          <input type="file" class="form-control">
          <h2 class="page-header-addgitlist">Account Settings</h2><br>
      </div>  
</div>                          
 <form class="form-signin" data-ember-action="2">
  <div class="col-md-4 col-lg-12 center-block">
<a class="btn btn-primary social-login-btn social-github center-block" href="/auth/github"><i class="fa fa-github"></i></a>
  <a class="btn btn-primary social-login-btn social-twitter center-block" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
   </div>

        <small class="text-muted">Already a Member? SignIn to <a href="#" id="underline">Gitlist</a></small>
        <br><br>
        
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="First Name" type="text">
          <br>
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="Last Name" type="text">
          <br>
           <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input" placeholder="Your Job" type="password">
          <br>
          <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input-pass" placeholder="e-Mail" type="password">
          <br>
           <input id="signin-gitlist" class="ember-view ember-text-field form-control login-input-pass" placeholder="Type e-Mail again" type="password">
          <br>

    <label class="checkbox">
          <input type="checkbox" value="terms-agree">by clicking the button agreeing our terms of service.
          <button class="btn btn-lg btn-primary btn-block " type="submit" data-bindattr-3="3" id="color-blue">Update Profile</button>
    </label>
          <script id="metamorph-22-start" type="text/x-placeholder"></script>
          <script id="metamorph-22-end" type="text/x-placeholder"></script>
<br>
          <br>

                         </form>
                      </div> 
                </div>
          </section>








