<%- partial ('../partials/topbar.ejs') %>

<!-- NOTE :  user recent,most voted, and trending pages coming in the version 1.0.3 -->


<section class="container small" id="gitlist-uhu">
     <%- partial ('../partials/gitlist-user-profile-header-hero.ejs') %>  
</section> 
   

  <%- partial ('../partials/gitlist-user-menu-middle.ejs') %>  



<section id="gitlist-userpage-sectionspace" class="pad-section">
     <%- partial ('../partials/gitlist-userlist-username.ejs') %>  
</section>



    


