<%- partial ('../partials/topbar.ejs') %>
<section id="gitlist-top-abstand"></section>



<section id="gitlist-sectionspace3-monthly" class="pad-section">
    <%- partial ('../partials/gitlist-list-yearsly-front.ejs') %>  
</section>

